.outerNavContainer {
  max-width: 50rem;
  padding: 0;
  margin: 3rem auto 6rem;
  background-color: lightgray;
  border-radius: 2px;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  background-color: lightgray;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}